<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Todo - Currencies</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/js/gritter/css/jquery.gritter.css" /> 
    
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/to-do.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/" class="logo"><b>Exchange</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/logout">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="/static/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{ user.username }}</h5>
              	  	
                  <li class="mt">
                      <a href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard - Exchange</span>
                      </a>
                  </li>

                  <li>
                      <a class="active" href="/currencies" >
                          <i class="fa fa-th"></i>
                          <span>Currencies</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                <div class="col-lg-9 main-chart">
                  <!-- SORTABLE TO DO LIST -->
                  <div class="row mt mb">

                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
                      <div class="panel-heading">
                            <div class="pull-left"><h5><i class="fa fa-tasks"></i> Exchange Currencies</h5></div>
                            <br>
                      </div>
                          <div class="panel-body">

                            <div class="add-task-row">
                                  <a class="btn btn-success btn-sm pull-left" href="/currency">Add New Currency</a>
                              </div>

                              <div class="clear mb-1"></div>
                            
                              <div class="task-content">

                                  <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Short Name</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    {% for e in records %}
                                      <tr>

                                        <td>{{e.fullName}}</td>
                                        <td>{{e.shortName}}</td>
                                        <td>{{e.isActive}}</td>
                                        <td><a href="/currency/{{e.Id}}/"><button class="btn btn-primary btn-xs fa fa-pencil"></button></a> <a href="/removecurrency/{{e.Id}}/"><button class="btn btn-danger btn-xs fa fa-trash-o"></button></a></td>

                                      </tr>
                                    {% endfor %}

                                    </tbody>
                                  </table>

                              </div>
                              
                          </div>
                      </section>
                  </div><!--/col-md-12 -->
                  </div>
                  <!-- /row -->
                </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2020 - Developed By Syed Musa Raza
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/static/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="/static/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="/static/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="/static/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>    
    <script src="/static/js/tasks.js" type="text/javascript"></script>

    <script>
      jQuery(document).ready(function() {
          TaskList.initTaskWidget();
      });

      $(function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
      });

    </script>
	
  

  </body>
</html>
